{% extends 'blog/base.html' %}
{% block content-block %}

<div class="row">
    <div class="col-md-7 mx-auto border-bottom border-left border-right rounded py-4 px-5">
        <h2 class="mb-5 text-center">Create post</h2>
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="font-weight-bold text-danger text-center">
                {% for error in form.non_field_errors %}
                    <span>{{ error|escape }}</span>
                {% endfor %}
                </div>
                <br>
            {% endif %}

            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }} 
                {{ field }}
                {% if field.errors %}
                <div class="font-weight-bold text-danger">
                    {% for error in field.errors %}
                    <span> {{ error|escape }}</span>
                    {% endfor %}
                </div>
                {% elif field.help_text %}
                <p class="form-text text-muted">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <input class="btn btn-outline-dark btn-block"type="submit" value="Create">
        </form>      
    </div>
</div>
{% endblock %}
