{% extends 'app01/base.html' %}
{% block body_block %}
<div>
    <h1>School details : </h1>
    {% if school %}
    <p>School Name : {{ school.name }}</p>
        {% if school.students %}
        <h1>Students :</h1>
            <ul>
            {% for student in school.students.all %}            
                <li>Name : {{student.name}}, Age : {{student.age}}</li>                
            {% endfor %}
            </ul>
        {% endif %}
    {% else %}
    <h2>No school details found</h2>
    {% endif %}
</div>
{% endblock %}
